header {
    width: 100%;
    padding-top: 25px;
    background: #f13f3f;
    border-bottom: 4px solid #cc2323;
    h1 {
        margin: 0 0 -16px -4px;
        font-weight: 700;
        font-size: 50px;
        color: #fff;
        span {
            margin-left: 2px;
            font-weight: 400;
            font-size: 23px;
            /*color:#fff;*/
            color: #cc2323;
            @media all and (min-width: $screen-xs-min) {
                margin-left: 10px;
                font-size: 30px;
            }
        }
    }
}
